.we-make-digital {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 114.02%;
    font-weight: 500;
    font-family: inherit;
    }
    .material-symbolsclose-icon {
    height: 48px;
    width: 48px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    }
    .we-make-digital-marketing-simp-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
    }
    .we-make-digital1 {
    position: relative;
    line-height: 114.02%;
    display: inline-block;
    min-width: 108px;
    }
    .mdilocation-icon {
    height: 17px;
    width: 17px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    }
    .we-make-digital2 {
    position: relative;
    line-height: 114.02%;
    display: inline-block;
    min-width: 83px;
    }
    .location-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    }
    .we-make-digital-marketing-simp-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
    font-size: var(--font-size-base);
    }
    .close-button-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    }
    .lorem-ipsum-dolor {
    width: 757px;
    position: relative;
    font-size: var(--font-size-base);
    line-height: 138.52%;
    color: var(--color-gray-200);
    display: inline-block;
    max-width: 100%;
    }
    .close-button-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 36px;
    max-width: 100%;
    flex-shrink: 0;
    }
    .we-make-digital3 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 114.02%;
    font-weight: 400;
    font-family: inherit;
    }
    .lorem-ipsum-dolor1 {
    margin-bottom: 0px;
    }
    .consectetur-enim-hac {
    margin-bottom: 0px;
    }
    .massa-luctus-ac {
    margin-bottom: 0px;
    }
    .s-a-tortor {
    margin-bottom: 0px;
    }
    .lorem-ipsum-dolor-sit-amet-co {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 21px;
    }
    .lorem-ipsum-dolor-container {
    position: relative;
    font-size: var(--font-size-base);
    line-height: 138.52%;
    color: var(--color-gray-200);
    }
    .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    max-width: 100%;
    }
    .content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    flex-shrink: 0;
    font-size: var(--font-size-5xl);
    }
    .header {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 0.1px;
    box-sizing: border-box;
    gap: 37px;
    max-width: 100%;
    flex-shrink: 0;
    text-align: left;
    font-size: 36px;
    color: var(--color-gray-100);
    font-family: var(--font-poppins);
    }
    .we-make-digital4 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 114.02%;
    font-weight: 400;
    font-family: inherit;
    flex-shrink: 0;
    }
    .apply-now {
    position: relative;
    font-size: 17.6px;
    line-height: 31px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--black);
    text-align: left;
    display: inline-block;
    min-width: 96px;
    }
    .component-173 {
    cursor: pointer;
    border: 1.3px solid #000;
    padding: var(--padding-5xs) 23px var(--padding-5xs) 25px;
    background-color: var(--color-white);
    width: 147px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    white-space: nowrap;
    }
    .component-173:hover {
    background-color: #e6e6e6;
    border: 1.3px solid #333;
    box-sizing: border-box;
    }
    .we-make-digital-marketing-simp-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    }
    .career-apply-now {
    width: 1000px;
    position: relative;
    box-shadow: var(--blog-card);
    border-radius: 22px;
    border: 2px solid transparent;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 66px 85px;
    box-sizing: border-box;
    gap: 54.9px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-gray-100);
    font-family: var(--font-poppins);
    height: 620px;
    align-self: center;
    margin-top:100px;
    margin-left: 190px;
    box-shadow: 0.91px 0.91px 21px 0px #1D1D1D1A;


    }
    
    @media screen and (max-width: 750px) {
    .we-make-digital {
    font-size: 29px;
    line-height: 33px;
    }
    
    }
    @media screen and (max-width: 675px) {
    .close-button-container {
    gap: var(--gap-lg);
    }
    
    .header {
    gap: var(--gap-lg);
    }
    
    .career-apply-now {
    gap: 27px;
    padding-left: var(--padding-23xl);
    padding-right: var(--padding-23xl);
    box-sizing: border-box;
    }
    
    }
    @media screen and (max-width: 450px) {
    .we-make-digital {
    font-size: 22px;
    line-height: 25px;
    }
    
    .we-make-digital-marketing-simp-parent {
    flex-wrap: wrap;
    }
    
    .we-make-digital3 {
    font-size: var(--font-size-lgi);
    line-height: 22px;
    }
    
    .content-wrapper {
    gap: var(--gap-base);
    }
    
    .we-make-digital4 {
    font-size: var(--font-size-lgi);
    line-height: 22px;
    }
    
    .career-apply-now {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
    }
    
    }