
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.content-area-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 var(--br-21xl) var(--br-21xl);
    background: linear-gradient(180deg, rgba(45, 89, 128, 0), #1b3363);
    width: 100%;
    height: 100%;
  }
  .content-area-item,
  .group-icon {
    position: absolute;
    top: 129.2px;
    left: 117.4px;
    width: 38.1px;
    height: 24.7px;
    z-index: 1;
  }
  .content-area-item {
    top: 123px;
    left: 76.2px;
    width: 35.4px;
    height: 37px;
  }
  .content-area {
    width: 100%;
    height: 527px;
    position: absolute;
    margin: 0 !important;
    top: -93px;
    right: 0;
    left: 0;
  }
.item-links {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 73px;
  white-space: nowrap;
  z-index: 1;
}
.item-links1 {
  color: inherit;
  min-width: 68px;
}
.item-links1,
.item-links2,
.item-links3,
.item-links4 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.item-links2 {
  color: var(--blue);
  min-width: 44px;
}
.item-links3,
.item-link4 {
  color: inherit;
  min-width: 92px;
}
.item-links4 {
  min-width: 64px;
}
.linkss,
.navigation {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.linkss {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: center;
  font-size: 16px;
  color: var(--black);
  font-family: "Poppins", sans-serif;;
}
.navigation {
  width: 533px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.sign-in {
  text-decoration: none;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  
  text-align: left;
  display: inline-block;
  min-width: 48px;
}
.component-6,
.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.component-6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) 34px var(--padding-5xs) 35px;
  background-color: var(--blue);
  border-radius: 8px;
  justify-content: flex-start;
  white-space: nowrap;
  color: var(--white);
  z-index: 1;
}
.component-6:hover {
  background-color: white;
  color: #000;
}
.header {
  width: 900px;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.blogs {
  margin: 0;
  position: relative;
  font-size: 48px;
  letter-spacing: 0.5px;
  line-height: 123.4%;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  z-index: 1;
}
.blog-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.lrem-ipsum-fyngen {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  letter-spacing: 0.5px;
  z-index: 1;
  font-family: "Poppins", sans-serif;
}
.blog-post,
.info,
.main {
  display: flex;
  max-width: 100%;
}
.blog-post {
  width: 950px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.info,
.main {
  align-self: stretch;
  box-sizing: border-box;
}
.info {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.main {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
 
  position: relative;
  gap: 102.5px;
}


.desktop-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  
}
/* .featured {
  align-self: stretch;
  flex-direction: row;
  padding: 0 78px;
  max-width: 100%;
} */
.desktop-6 {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  gap: 80px;
  line-height: normal;
  letter-spacing: normal;
  padding: 20px;
  font-size: var(--font-size-29xl);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}



.card{
    display: flex;
    justify-content: center;
    margin-top:40px;
    margin-left:40px;
    margin-right:40px;
    margin-bottom:5px;
}

.vector-icon {
    position: absolute;
    width: 500px;
    
  }
  .optimizing-css-for,
  .page-loads {
    margin: 0;
  }
  .div,
  .optimizing-css-for-container {
    position: absolute;
    top: 136px;
    left: 16px;
    font-weight: 900;
    display: none;
  }
  .div {
    top: 64px;
    font-size: 48px;
    font-weight: 800;
    font-family: var(--small-bold);
    color: #000;
  }
  .cardmedialarge {
    height: 280px;
    width: 500px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(./public/cardmedialarge@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-width: 500px;
    max-width: 100%;
  }
  .b,
  .nov-08,
  .sam-sam {
    position: relative;
    display: inline-block;
  }
  .sam-sam {
    text-decoration: none;
    font-weight: 500;
    color: var(--blue);
    min-width: 59px;
    font-size: 12px;
  }
  .b,
  .nov-08 {
    min-width: 4px;
    font-size: 12px;
    color: #898888c4;
  }
  
  .nov-08 {
    text-decoration: none;
    font-weight: 500;
   
    min-width: 77px;
  }
  .sam-sam-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    padding-left: 6px;
  }
  .world-radiology-day {
    margin: 0;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
    color: var(--black);
   padding-left: 10px;
   
  }

  .world-radiology-day1 {
    margin: 0;
    position: relative;
    font-size: 24px;
    font-weight: 600;
    font-family: inherit;
    color: var(--black);
   padding-left: 10px;
   
  }
  .frame-parent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: 1px;
    max-width: 100%;
  }
  .blank-line,
  .on-8th-of,
  .the-international-day {
    margin: 0;
  }
  .the-international-day-container {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    line-height: 21px;
    color: #6E6E6E;
    width: 612px;
   
    
  }
  .title-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 9px 0 0;
    box-sizing: border-box;
    gap: var(--gap-base);
    max-width: 100%;
  }
  .min-read,
  .read-full {
    position: relative;
    display: inline-block;
  }
  .min-read {
    font-weight: 500;
    min-width: 67px;
    font-size: 12px;
    color: #00000044;
    padding: 10px;
  }
  .read-full {
    min-width: 56px;
    font-size: 12px;
    padding: 10px 0px ;
  }
  .read-full-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0 0;
  }
  .iconarrow {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 20px;
    padding-top: 2px;
  }
  .button,
  .readbtncontent {
    display: flex;
    flex-direction: row;
  }
  .button {
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--blue);
    font-family: var(--small-bold);
  }
  .readbtncontent {
    align-self: stretch;
    background-color: var(--color-white);
    overflow: hidden;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 24px 0 0;
    gap: 20px;
  }
  .card,
  .content,
  .root {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .content {
    flex: 1;
    flex-direction: column;
    padding: 2px 0 4px;
    box-sizing: border-box;
    gap: var(--gap-13xl);
    min-width: 398px;
    max-width: 100%;
    font-size: var(--small-bold-size);
    color: var(--color-dimgray);
    font-family: var(--font-poppins);
  }
  .card,
  .root {
    flex-direction: row;
  }
  .card {
    flex: 1;
    border-radius: 10px;
    border: 1px solid rgba(202, 202, 202, 0.4);
    box-sizing: border-box;
    padding: 6px 7px;
    gap: 64px;
    max-width: 100%;
    text-align: left;
    font-size: 36px;
    color: var(--color-white);
    font-family: var(--font-playfair-display);
  }
  .root {
    width: 100%;
    position: relative;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 975px) {
    .cardmedialarge {
      flex: 1;
    }
    .card {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 950px) {
    .optimizing-css-for-container {
      font-size: var(--font-size-10xl);
    }
    .div {
      font-size: 38px;
    }
  }
  @media screen and (max-width: 700px) {
    .cardmedialarge {
      min-width: 100%;
    }
    .content {
      gap: var(--gap-base);
    }
    .card,
    .root {
      gap: var(--gap-13xl);
    }
  }
  @media screen and (max-width: 450px) {
    .optimizing-css-for-container {
      font-size: 22px;
    }
    .div {
      font-size: var(--font-size-10xl);
    }
    .world-radiology-day {
      font-size: 19px;
    }
    .readbtncontent {
      flex-wrap: wrap;
      padding: var(--padding-xl);
      box-sizing: border-box;
    }
    .content {
      min-width: 100%;
    }
    .card,
    .root {
      gap: var(--gap-base);
    }
  }
  cardmediamini-icon {
    align-self: stretch;
    height: 200px;
    position: relative;
    border-radius: var(--br-8xs);
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }


  
  .diagnosing-the-diagnostic {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--color-gray);
  }
  .diagnosis-card-media,
  .sam-dec-network {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-12xs);
  }
  .diagnosis-card-media {
    gap: var(--gap-sm);
    color: var(--blue);
  }
  .radiology-is-a {
    align-self: stretch;
    height: 147px;
    position: relative;
    font-size: var(--body-regular-size);
    line-height: 21px;
    font-family: var(--small-bold);
    display: flex;
    align-items: center;
    
  }
  .min-read,
  .read-full {
    position: relative;
    display: inline-block;
  }
  .min-read {
    font-weight: 500;
    min-width: 71px;
  }
  .read-full {
    min-width: 56px;
  }
  .read-full-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
  }
  .iconarrow {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 20px;
  }
  .button,
  .min-read-parent {
    display: flex;
    flex-direction: row;
  }
  .button {
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--blue);
    font-family: var(--small-bold);
  }
  .min-read-parent {
    align-self: stretch;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 var(--padding-base) 0 0;
    gap: var(--gap-xl);
  }
 .ravv{
    color: #6E6E6E;
    width: 360px;
    height: 147px;
    font-size: 14px;
    align-self: self-start;
    padding-left: 10px;
    
 }
 .text{
    display: block;
 }
 .cardmediamini-icon1,
.cardmini {
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
}
.cardmini {
  background-color: var(--color-white);
  border:  1px solid #CACACA66;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17.5px;

}
.cardmediamini-icon {
  align-self: stretch;
  height: 200px;
  position: relative;
  flex-shrink: 0;
  padding: 20px;
}
.cardmini {
    border-radius: var(--br-8xs);
    max-width: 100%;
    overflow: hidden;
    margin: 0px 20px 0px 20px ;
  }
  .read-full{
    padding-top: 2px;
  }
  .diagnosis-card{
    display: flex;
   
  }

  .dia{
    display: block;
  }
  .terms {
    flex-direction: column;
    padding-top:-100px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .desktop-5 {
    width:100%;
    position: relative;
    height: 400px;
    background: linear-gradient(180deg, rgb(0 4 7 / 76%) -27.12%, #0d2c6a 100%);
    overflow: hidden;
    padding: 29px 3px 24px;
    box-sizing: border-box;
    gap: 47px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--white);
    font-family: var(--font-poppins);
  }
  .img{
   margin-left: 86px;
   margin-top: 40px;
  }

  