.logo-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 var(--br-21xl) var(--br-21xl);
    background: linear-gradient(180deg, rgba(44, 120, 187, 0), #1b3363);
    width: 100%;
    height: 100%;
  }
  .frame-child11,
  .group-icon1 {
    position: absolute;
    top: 129.2px;
    left: 117.4px;
    width: 38.1px;
    height: 24.7px;
    z-index: 1;
  }
  .frame-child11 {
    top: 123px;
    left: 76.2px;
    width: 35.4px;
    height: 37px;
  }
  .logo-placeholder-parent {
    width: 100%;
    height: 527px;
    position: absolute;
    margin: 0 !important;
    top: -93px;
    right: 0;
    left: 0;
  }
  .item-link,
  .item-link1 {
    text-decoration: none;
    position: relative;
    line-height: 24px;
    font-weight: 500;
    color: inherit;
    display: inline-block;
    z-index: 1;
  }
  .item-link {
    min-width: 73px;
    white-space: nowrap;
  }
  .item-link1 {
    min-width: 68px;
  }
  .item-link2 {
    color: inherit;
    min-width: 44px;
  }
  
  .item-link2,
  .item-link3,
  .item-link4 {
    text-decoration: none;
    position: relative;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    z-index: 1;
  }
  .item-link3 {
    color: inherit;
    min-width: 92px;
  }
  .item-link4 {
    color: var(--blue);
    min-width: 64px;
  }
  .about-us-links,
  .links-container {
    margin: 0;
    display: flex;
    align-items: flex-start;
  }
  .about-us-links {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--black);
    font-family: var(--font-poppins);
  }
  .links-container {
    width: 533px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .sign-in {
    text-decoration: none;
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 24px;
    font-weight: 600;
    font-family: var(--font-poppins);
 
    text-align: left;
    display: inline-block;
    min-width: 48px;
  }
  .component-6,
  .links-wrapper,
  .links-wrapper-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .component-6 {
    cursor: pointer;
    border: 1px solid transparent;
    padding: 10px 30px;
    background-color: var(--blue);
    border-radius: 7px;
    justify-content: flex-start;
    white-space: nowrap;
    z-index: 1;
    color: var(--white);
  }

  .component-6:hover {
    background-color: white;
    color: black;
  }
  .links-wrapper,
  .links-wrapper-wrapper {
    max-width: 100%;
  }
  .links-wrapper {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .links-wrapper-wrapper {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 0 0 22px;
    box-sizing: border-box;
  }
  .career1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.5px;
    line-height: 123.4%;
    font-weight: 500;
    font-family: inherit;
    z-index: 1;
  }
  .hero {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .were-always-looking {
    position: relative;
    letter-spacing: 0.5px;
    z-index: 1;
    margin-left: 10px;
    font-size: 14px;
  }
  .view-positions {
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 24px;
    font-weight: 600;
    font-family: var(--font-poppins);
   
    text-align: left;
    display: inline-block;
    min-width: 102px;
  }
  .call-to-action,
  .component-168 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .component-168 {
    cursor: pointer;
    border: 2px solid transparent;
    padding: var(--padding-5xs) 18px;
    background-color: var(--blue);
    border-radius: 7px;
    justify-content: flex-start;
    white-space: nowrap;
    z-index: 1;
    color: var(--white);
  }
  .component-168:hover{
    border: 1px solid black;
    color: #000;
    background-color: white;
  }
  .call-to-action {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .content,
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .description {
    align-self: stretch;
    gap: var(--gap-5xl);
    font-size: var(--font-size-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content,
  .header {
    max-width: 100%;
  }
  .content {
    width: 570px;
    gap: 32px;
  }
  .header {
    align-self: stretch;
    padding: 27.5px 59px 85px 411px;
    box-sizing: border-box;
    position: relative;
    gap: 102.5px;
    text-align: center;
    font-size: 48px;
    color: var(--white);
    font-family: var(--font-poppins);
  }
  .heading-2 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(90deg, #2d5980, rgba(50, 81, 108, 0.44));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blank-line,
  .blank-line1,
  .blank-line2,
  .delayed-and-missed,
  .large-hospitals-are,
  .someone-wise-said,
  .we-are-looking {
    margin: 0;
  }
  .someone-wise-said-container {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-sm);
    text-align: left;
  }
  .introduction-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    min-width: 479px;
    max-width: 100%;
  }
  .introduction-child {
    width: 378px;
    position: relative;
    max-height: 100%;
    max-width: 100%;
  }
  .introduction,
  .introduction-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
  }
  .introduction {
    flex: 1;
    align-items: flex-end;
    gap: 102px;
  }
  .introduction-wrapper {
    width: 1329px;
    align-items: flex-start;
    padding: 0 56px 23.2px;
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-17xl);
    color: #000;
    font-family: var(--font-poppins);
  }
  .background-image-icon {
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .background-image-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 78px 6px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .heading-21 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(90deg, #2770b0, rgba(45, 89, 128, 0.828));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .testimonial-content {
    width: 1182px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .radiation-1-icon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .lorem-ipsum {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .testimonial-rows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .lrem-ipsum-fyngen {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-sm);
    color: var(--blue);
    width: 310px;
  }
  .testimonial-items {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  
  }
  .radiation-1-icon1 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .lorem-ipsum1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .radiation-1-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .lrem-ipsum-fyngen1 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-sm);
    color: var(--blue);
    width: 310px;
  
  }
  .testimonial-items1 {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    max-width: 100%;
  }
  .radiation-1-icon2 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .lorem-ipsum2 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .radiation-1-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .lrem-ipsum-fyngen2 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-sm);
    color: var(--blue);
    width: 310px;
  
  }
  .testimonial-items2 {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    max-width: 100%;
  }
  .radiation-1-icon3 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .lorem-ipsum3 {
    position: relative;
  }
  .radiation-1-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .lrem-ipsum-fyngen3 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-sm);
    color: var(--blue);
    width: 310px;
  
  }
  .testimonial-items3 {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    max-width: 100%;
  }
  .radiation-1-icon4 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .lorem-ipsum4 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .frame-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .lrem-ipsum-fyngen4 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-sm);
    color: var(--blue);
    width: 310px;
  
  }
  .testimonial-items4 {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    max-width: 100%;
  }
  .radiation-1-icon5 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .lorem-ipsum5 {
    position: relative;
  }
  .radiation-1-parent1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .lrem-ipsum-fyngen5 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-sm);
    color: var(--blue);
    width: 310px;
  
  }
  .testimonial-items5 {
    width: 410px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-5xs);
  }
  .testimonial,
  .testimonial-items5 {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .testimonial-grid {
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px 22px;
    min-height: 368px;
    text-align: left;
    font-size: var(--font-size-xl);
    display: flex;
    justify-content: center;
   
    width: 1400px;
    
    
  }
  .testimonial {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    gap: 63px;
  }
  .career{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .testimonial-wrapper {
    
    width: 1298px;
    flex-direction: row;
    padding: 0 10px;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-17xl);
    color: var(--color-gray-100);
    font-family: var(--font-poppins);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
  }
  .career {
    width: 100%;
    position: relative;
    background-color: var(--white);
    overflow: hidden;
    flex-direction: column;
    padding: 0 30px 35px;
    gap: 56px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .header {
      padding-left: 205px;
      padding-right: 29px;
      box-sizing: border-box;
    }
    .introduction-child {
      flex: 1;
    }
    .introduction {
      flex-wrap: wrap;
    }
    .introduction-wrapper {
      padding-left: var(--padding-9xl);
      padding-right: var(--padding-9xl);
      box-sizing: border-box;
    }
    .background-image-wrapper {
      padding-left: var(--padding-20xl);
      padding-right: var(--padding-20xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .career1 {
      font-size: 38px;
      line-height: 47px;
    }
    .heading-2 {
      font-size: var(--font-size-10xl);
    }
    .introduction-content {
      min-width: 100%;
    }
    .heading-21 {
      font-size: var(--font-size-10xl);
    }
  }
  @media screen and (max-width: 750px) {
    .links-container {
      display: none;
    }
    .content {
      gap: var(--gap-base);
    }
    .header {
      padding-left: 102px;
      box-sizing: border-box;
    }
    .header,
    .introduction {
      gap: var(--gap-32xl);
    }
    .testimonial {
      gap: 31px;
    }
    .career {
      padding-left: var(--padding-16xl);
      padding-right: var(--padding-16xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .career1 {
      font-size: var(--font-size-10xl);
      line-height: 36px;
    }
    .header {
      gap: 26px;
      padding-left: var(--padding-xl);
      padding-top: var(--padding-xl);
      padding-bottom: 55px;
      box-sizing: border-box;
    }
    .heading-2 {
      font-size: var(--font-size-3xl);
    }
    .introduction {
      gap: 25px;
    }
    .heading-21 {
      font-size: var(--font-size-3xl);
    }
    .lorem-ipsum,
    .lorem-ipsum1,
    .lorem-ipsum2,
    .lorem-ipsum3,
    .lorem-ipsum4,
    .lorem-ipsum5 {
      font-size: var(--font-size-base);
    }
    .testimonial {
      gap: var(--gap-base);
    }
    .career {
      gap: 28px;
    }
  }
   /* part2 */
   
   .heading34 {
    height: 54px;
    position: relative;
    letter-spacing: 0.5px;
    font-weight: 600;
    background: linear-gradient(90deg, #2d5980, rgba(45, 89, 128, 0.583));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
  .lipo {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    text-align: left;
  }
  .frame123,
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame123 {
    align-self: stretch;
    gap: 16px;
  }
  .main-content {
    width: 410px;
    padding: 202px 0 0;
    box-sizing: border-box;
    min-width: 410px;
  }
  
  .compo34{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
 
  .compo34 {
    width: 1280px;
    position: relative;
    flex-direction: row;
    gap: 107px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: var(--font-size-17xl);
    color: var(--blue);
    font-family: var(--font-poppins);
    height: 600px;
  }
.side{
  width: 763px;
height: 600px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
color: #000;
font-size: 36px;
display: flex;
flex-direction: column;
margin-left: 250px;

}
/* .line{
  width: 650px ;

} */
.text2, .text3, .text4{
  display: none;
}
.div23{
   border-top:  2px solid  transparent ;
  height: 150px;
  border-left: 0px;
  width: 650px ;
   border-image: linear-gradient(2700deg, #2d5980bb, rgba(45, 89, 128, 0));
   border-image-slice: 1;
  
}
.div24{
  border-top:  2px solid  transparent ;
   
 height: 150px;
 border-left: 0px;
 width: 650px ;
  border-image: linear-gradient(2700deg, #2d5980bb, rgba(45, 89, 128, 0));
  border-image-slice: 1;
 
}

  .bold{
   font-weight: 700;
  }

  /* part4 */
  .heading122 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(90deg, #2d5980, rgba(45, 89, 128, 0.49));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .cant-see-thes,
  .we-still-wants {
    margin: 0;
  }
  .cant-see-the-containers {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-base);
    text-align: left;
  }
  .heading-2-introduction-parents {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
  }
  .mail-us-nows {
    text-decoration: none;
    position: relative;
    color: inherit;
  }
  .hr5cnetworkcom2s {
    text-decoration: underline;
  }
  .hr5cnetworkcom1s {
    color: inherit;
  }
  .hr5cnetworkcoms{
    position: relative;
    font-size: var(--font-size-base);
    color: var(--blue);
    white-space: nowrap;
  }
  .mail-us-now-parents {
    gap: 8px;
  }
  .frame-groups,
  .frame-wrappers,
  .mail-us-now-parents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrappers {
    padding: 8px 0;
    text-align: left;
    font-size: 24px;
    color: #000;
  }
  .frame-groups {
    width: 410px;
    gap: 40px;
    min-width: 410px;
    max-width: 100%;
  }
  .frame-childs {
    width: 600px;
    position: relative;
    border-radius: 20px 0px 0px 20px;
    max-height: 436px;
    object-fit: cover;
    max-width: 100%;
  }
  .careerpart4,
  .frame-parents {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .frame-parents {
    width: 1300px;
    justify-content: space-between;
    max-width: 106%;
    flex-shrink: 0;
    gap: var(--gap-xl);
    text-align: center;
    font-size: 36px;
    color: var(--blue);
    font-family: var(--font-poppins);
   
   
    align-self: end;
  }
  .careerpart4 {
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    justify-content: flex-start;
    padding: 102px 0 201px 209px;
    line-height: normal;
    letter-spacing: normal;
  }


/* part44 */

.heading-2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: inherit;
  background: linear-gradient(90deg, #2d5980, rgba(45, 89, 128, 0.412));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading-2-introduction-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 15px 1px;
  text-align: center;
  font-size: 36px;
}
.item-link,
.item-link1,
.item-link2,
.item-link3,
.item-link4 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 20px;
}
.item-link1,
.item-link2,
.item-link3,
.item-link4 {
  min-width: 105px;
}
.about-us-links,
.about-us-links-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.about-us-links {
  width: 632px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.about-us-links-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 0 72px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--black);
  font-family: var(--font-poppins);
}
.location,
.service,
.title {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 34px;
}

.service {
  min-width: 100px;
  padding-right: 120px;
}
.location {
  min-width: 69px;
  
 
}
.service-parent,
.title-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  margin-left: 50px;
 
}
.service-parent {
  justify-content: space-around;
  gap: 300px;
}
.title-parent {
  width: 1200px;
  justify-content: space-between;
  gap: var(--gap-xl);
  padding-left: 50px;
  text-align: center;
 
}
.frame-child {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.part55-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 22px;
  box-sizing: border-box;
  max-width: 100%;
  
}
.development,
.devops-engineer {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  flex-shrink: 0;
}
.development {
  display: inline-block;
  min-width: 109px;
}
.devops-engineer-parent {
  width: 757px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bangalore {
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -31px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 84px;
  padding-right: 40px;
}
.frame-container {
  width: 1500px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-202xl);
  max-width: calc(100% - 44px);
  border-radius: 8%;
  
}



.iconarrow {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.frame-group {
  width: 1300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 15px;
  color: #000;
  margin: 0px;
 
}

.frame-group:hover{
  border: 2px solid transparent;
  background-color: #0D5192;
  border-radius: 15px;
  height: 30px;
  color: white;

}

.frame-item {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  padding-bottom: 40px;
  max-height: 100%;

}
.component-170,
.component-170-wrapper,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent {
  height: 56px;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;

}
.component-170,
.component-170-wrapper {
  flex-direction: row;
}
.component-170 {
  flex: 1;
}
.component-170-wrapper {
  align-self: stretch;
  padding-left: 60px;
  box-sizing: border-box;
}
.vector-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}


.part55 {
  display: flex;
  align-items: flex-start;
}


.part55 {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;

  box-sizing: border-box;
  gap: 24px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.a{
  text-decoration: none;
}